@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #031927;
  --color-accent-light: #9dd1f1;
  --color-accent-dark: #508aa8;
  --color-light: #c8e0f4;
  --color-contrast: #f2d1c9;
  --color-slate: slate-100;
  --color-white: white;
  --color-black: black;
}

h6 {
  font-size: small;
}
