*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --primary: #031927;
  --accent-light: #9DD1F1;
  --accent-dark: #508AA8;
  --light: #C8E0F4;
  --foreground-color-rgb: 97 218 251;
  --background-color-rgb: 40 44 52;
  --foreground-color: rgb(var(--foreground-color-rgb));
  --background-color: rgb(var(--background-color-rgb));
  --text-color: #fff;
}

.simplebar-scrollbar::before {
    background-color: red;
  }

.os-scrollbar {
  --os-track-bg: var(--accent-light);
  --os-handle-bg: var(--accent-dark);
  --os-size: 1rem;
  margin: 0 auto;
  overflow: auto;
  background-color: var(--accent-light);
  border-radius: 6px;
  /* border: 2px solid var(--primary); */
  box-shadow: rgb(var(--accent-dark) / 0.14) 0 0.875rem 3.125rem;
}
/* https://github.com/KingSora/OverlayScrollbars/tree/master */
/* .os-scrollbar-vertical{
  --os-track-bg: var(--accent-light);
  --os-handle-bg: var(--accent-dark);
  --os-size: 2rem;
} */